html{
  background: #6dbdd6;
}
body {
  margin: 0;
  color: #444;
}

.game-results, .game-resume{
  background: rgba(255,255,255,0.85);
  position: absolute;
  width: 96vh;
  height: 100%;
  top: 0;
  left: 2vh;
  text-align: center;
}
.btn{
  margin: 10px;
  padding: 6px 10px;
  color: #fff;
  border: none;
  box-shadow: 1px 1px 2px #666;
  border: 1px solid #fff;
  cursor: pointer;

  &.btn-restart {
    background: #0e9cef;
  }
  &.btn-resume {
    background: #005A31;
  }
}
